	html {
		height:100%;
		height:100%;
		margin:0;
	}
	#container {
		z-index:1;
		height:100%;
		width:100%;
		margin:0;
		position:absolute;
		background-color:rgba(123,123,123,.5);


		/*background: rgba(0,0,0, .5);*/

	}
	#wallpaper {
		position:absolute;
		z-index:-1;
		height:100%;
		width:100%;
		margin:0px;
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
		/*background-color:rgba(255,0,0,.5);*/
	}
	input{
		border-radius:4px;
	}
	input:required {
		border: 1px dashed #ff0084;
	}

	.dataformcontainer{
		padding-top:20%;
		margin-left:auto;
		margin-right:auto;
		width:40%;
		text-align:center;
	}

	.dataformcontainer ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.dataformcontainer li {
		margin:20px;
		display: block;
		margin:10px;
	}
	.dataform{
		font-size:30px;
	}
	label {
		display: inline;
		color: #eee;
	}
	h3{
		float: left;
		margin:0px;
		margin-top:10px;
	}

}
